.App {
  text-align: center;
}
.griid{
  background-color: aquawhite;
  display: flex;
  
  
}
.flux{
  width:80%;
}
.containerr{
  display:grid;
  grid-template-columns: 30% 30% 30%;

  padding: 10px;
  gap: 20px;
  
 align-items: center;
 justify-content: center;
 

 
}

.inside{
  
}
.items{
  text-align: center;
  width:350px;
 
 
}
.btn{
  display:flex;
  justify-content: space-between;
  padding: 0px 20px;
  align-items: center;
  height: 70px;
  background-color: black;
  position: fixed;
  top: 0;
  width: 98%;
}
.back{
 background-color: antiquewhite;
}
.btn button{
  border-radius: 10px;
  padding: 10px;
  border:none;
  background-color:transparent;
  color:white
}
.btn button:hover{
  background-color: aqua;
}
.circle{
  margin: auto;
  background-color: blue;
  width:50px;
  height: 50px;
  border-radius: 50%;

}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
