.griid{
    background-color: aquawhite;
    display: flex;
    
    
  }
  .flux{
    width:80%;
  }
  .containerr{
    display:grid;
    grid-template-columns: 30% 30% 30%;
  
    padding: 10px;
    gap: 20px;
    
   align-items: center;
   justify-content: center;
   
  
   
  }
  
  .inside{
    
  }
  .items{
    text-align: center;
    width:350px;
   
   
  }
  .btn{
    display:flex;
    justify-content: space-between;
    padding: 0px 20px;
    align-items: center;
    height: 70px;
    background-color: black;
    position: fixed;
    top: 0;
    width: 98%;
  }
  .back{
   background-color: antiquewhite;
  }
  .btn button{
    border-radius: 10px;
    padding: 10px;
    border:none;
    background-color:transparent;
    color:white
  }
  .btn button:hover{
    background-color: aqua;
  }
  .details
{  
    background-color: white;
    position: fixed;
    top: 0;    
    width: 100%;
    height: 130px;
  
  display: flex;
  justify-content: center;
  gap: 10%;
    
  border-radius: 5px;
  
  padding: 1em;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}
.details>div>img{
  height:100px;
}